@import './config';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $third-color;
    color: $sec-color;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;

    button, input[type="submit"], input[type="reset"] {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }

    .header {
        background-color: $main-color;
        width: 100vw;
        height: 4.5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 333px) {
                height: 7rem;
        }

        .title {
            color: $text_color;
            font-size: 2rem;
            font-weight: 700;
        }
    }

    .main {
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $main-color;
        gap: 30px;

        .announcer {
            font-size: 50px;
            font-weight: 500;
        }

        .board {
            width: max(33vw, 33vh);
            height: max(33vw, 33vh);
            display: grid;
            grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;

            .cell {
                width: max(11vw, 11vh);
                height: max(11vh, 11vw);
                border-bottom: 2px solid black;
                border-right: 2px solid black ;
                padding-bottom: 20px;
                font-size: max(7vw, 4.5vh);
                display: flex;
                justify-content: center;
                align-items: center;
                
            }

            .cell:hover {
                background-color: rgb(163, 162, 162);
            }

            .place2, .place5, .place8 {
                border-right: none;
            }

            .place6, .place7, .place8 {
                border-bottom: none;
            }
        }

        .restart {
            margin-top: 10px;

            .restart-btn {
                width: 12vw;
                height: 8vh;
                font-size: max(2vw, 1.5vh);
                text-align: center;
                border-radius: 8px;
                background-color: $main-color;
                color: $text-color;
            }

            .restart-btn:hover {
                filter: brightness(70%);
            }
        }
    }

    .footer {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: auto;


        .text {
            color: black;
            font-size: 20px;

            @media (max-width: 333px) {
                font-size: 15px;
            }

            a {
                img {
                    height: 25px;
                    margin-bottom: 5px;
                    margin-left: 8px;
                    width: auto;
                }

                img:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}