@import './config';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $third-color;
    color: $sec-color;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;

    button, input[type="submit"], input[type="reset"] {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }

    .header {
        background-color: $main-color;
        width: 100vw;
        height: 4.5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 333px) {
                height: 7rem;
        }

        .title {
            color: $text_color;
            font-size: 2rem;
            font-weight: 700;
        }
    }


    .footer {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: auto;


        .text {
            color: black;
            font-size: 20px;

            @media (max-width: 333px) {
                font-size: 15px;
            }

            a {
                img {
                    height: 25px;
                    margin-bottom: 5px;
                    margin-left: 8px;
                    width: auto;
                }

                img:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}